body {
  margin:0;
  padding:0;
  background-color: #002738;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buildForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:70%;
  margin:auto;
  background-color: #E6F4F1;
  border-radius:15px;
  padding:1em;
  margin:.5em auto;
}

.mainContainer {
  margin:0 auto;
  width:75%;
}

.formElement {
  display: flex;
  justify-content: center;
  width: 90%;
  padding:1em;
}

.graphContainer {
  background-color: #E6F4F1;
  border-radius:15px;
  margin:.5em auto;
  width:73%;
}

canvas {
  width:40em;
  height:20em;
}

.response {
  display: flex;
  flex-direction: column;
  width:70%;
  padding:1em;
  margin: 1em auto;
  border-radius:15px;
  background-color: #E6F4F1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:2em;
  padding: 1em;
  background-color: #4E8397;
}

.navRight > a {
  margin: 0 .2em;
  padding:.5em;
  color:#002738;
  background-color: #E6F4F1;
}

.promptForm {
  display: flex;
  border-radius:15px;
  width:70%;
  margin:auto;
  padding:1em;
  background-color: #E6F4F1;
}